/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* Estilos generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: #f8f2f2;
}

/* Contenedor principal*/
.container{
    background-color: #e9e9e996;
    width: 90%;
    max-width: 1024px;
    border: none;
    border-radius: 40px;
    box-shadow: 2px 4px 10px 3px #686767;
    margin: 20px auto;
    padding: 10px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat( 3, 1fr) ;
    grid-template-rows: repeat(4, auto);
}

.container .cabezera,
.container .contenedor,
.container .contenedor .ingredientes,
.container .contenedor .barra-lateral,
.container .contenedor .instrucciones,
.container .contenedor .pie-pagina{
    display: grid;
    grid-gap: 15px;
}

/* Cabezera */
.container .cabezera{
    grid-column-start: 1 ;
    grid-column-end: 3;
    grid-template-columns: repeat(3, 1fr);
}

.container .cabezera .title{
    font-size: 40px;
    grid-column: 1/4;
    display:flex;
    justify-content: flex-start;
}
.container .cabezera .subtitle{
    font-size: 15px;
    font-style: italic;
    color: #707070;
    grid-column: 1/3;
    margin: 0 15px;
}

/* Cuerpo principal */
.container .contenedor{
    grid-column-start: 1;
    grid-column-end: 4;
}

/*Imgen*/
.container .contenedor .img{
    width: 100%;
    border-radius: 25px;
}

/* Contenedor secundario*/
.container .contenedor .refernce{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
.container .contenedor .refernce .text-title{
    font-size: 25px;
}

.container .contenedor .instrucciones{
    grid-column-start: 1;
    grid-column-end: 3 ;

}

/* Ingredientes */
.container .contenedor .refernce .ingredientes{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-rows: repeat(2, auto);
}

.container .contenedor .refernce .ingredientes .text-title{
    grid-column-start: 1;
    grid-column-end: 4;
}

/* Pre comienzo */
.container .contenedor .refernce .ingredientes .text-subtitle{
    font-size: 20px;
    font-style: italic;
    color: #535353;
    padding: 15px 0;
}
.container .contenedor .refernce .ingredientes .pre-stars{
    grid-row-start: 1 ;
    grid-row-end: 2;
}

.container .contenedor .refernce .ingredientes .pre-stars .steps,
.container .contenedor .refernce .ingredientes .stars .steps{
    display: grid;
    grid-template-columns: 20px repeat(3, auto);
    grid-gap: 25px;
    margin-bottom: 10px;
}

.container .contenedor .refernce .ingredientes .pre-stars .steps input[type="checkbox"],
.container .contenedor .refernce .ingredientes .stars input[type="checkbox"]{
    margin: 5px 10px;
    cursor: pointer;
}

.container .contenedor .refernce .ingredientes .pre-stars .steps .check-step,
.container .contenedor .refernce .ingredientes .stars .steps .check-step{
    grid-column-start: 2;
    grid-column-end: 4;
    width: 85%;
    font-size: 16px
}

.container .contenedor .refernce .ingredientes .pre-stars .steps .check-step span,
.container .contenedor .refernce .ingredientes .stars .steps .check-step span{
    color: #131111;
    font-weight: bold;
}

/* Intrucciones*/
.container .contenedor .refernce .instrucciones{
    display: grid;
}
.container .contenedor .refernce .instrucciones .icon-one .icon-number{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.container .contenedor .refernce .instrucciones .icon-one{
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-direction: row;
    grid-gap: 25px;
}
.container .contenedor .refernce .instrucciones .icon-one .text-help{
    grid-column-start: 2;
    grid-column-end: 3;
    width: 90%;
    font-size: 17px;
}

.container .contenedor .refernce .ingredientes,
.container .contenedor .refernce .instrucciones,
.container .pie-pagina{
    margin-top: 50px;
}

/* Asidebar*/
.container .contenedor .barra-lateral{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer*/
