/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* Estilos generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: #fafafa;
}

/* Contenedor principal*/
.container{
    background-color: #f7f7f7ee;
    width: 90%;
    max-width: 1024px;
    border: none;
    margin: 20px auto;
    padding: 10px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat( 3, 1fr) ;
    grid-template-rows: repeat(4, auto);
}

.container .cabezera,
.container .contenedor,
.container .contenedor .ingredientes,
.container .contenedor .barra-lateral,
.container .contenedor .instrucciones{
    display: grid;
    grid-gap: 15px;
}

/* Cabezera */
.container .cabezera{
    grid-column-start: 1 ;
    grid-column-end: 3;
    grid-template-columns: repeat(3, 1fr);
}

.container .cabezera .title{
    font-size: 40px;
    grid-column: 1/4;
    display:flex;
    justify-content: flex-start;
}
.container .cabezera .subtitle{
    font-size: 15px;
    font-style: italic;
    color: #707070;
    grid-column: 1/3;
    margin: 0 15px;
}

/* Cuerpo principal */
.container .contenedor{
    grid-column-start: 1;
    grid-column-end: 4;
}

/*Imgen*/
.container .contenedor .img{
    width: 100%;
    border-radius: 25px;
}

/* Contenedor secundario*/
.container .contenedor .refernce{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
.container .contenedor .refernce .text-title{
    font-size: 25px;
}

.container .contenedor .instrucciones{
    grid-column-start: 1;
    grid-column-end: 3 ;

}

/* Ingredientes */
.container .contenedor .refernce .ingredientes{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-rows: repeat(2, auto);
}

.container .contenedor .refernce .ingredientes .text-title{
    grid-column-start: 1;
    grid-column-end: 4;
}

/* Pre comienzo */
.container .contenedor .refernce .ingredientes .text-subtitle{
    font-size: 20px;
    font-style: italic;
    color: #535353;
    padding: 15px 0;
}
.container .contenedor .refernce .ingredientes .pre-stars{
    grid-row-start: 1 ;
    grid-row-end: 2;
}

.container .contenedor .refernce .ingredientes .pre-stars .steps,
.container .contenedor .refernce .ingredientes .stars .steps{
    display: grid;
    grid-template-columns: 20px repeat(3, auto);
    grid-gap: 25px;
    margin-bottom: 10px;
}

.container .contenedor .refernce .ingredientes .pre-stars .steps input[type="checkbox"],
.container .contenedor .refernce .ingredientes .stars input[type="checkbox"]{
    margin: 5px 10px;
    cursor: pointer;
}

.container .contenedor .refernce .ingredientes .pre-stars .steps .check-step,
.container .contenedor .refernce .ingredientes .stars .steps .check-step{
    grid-column-start: 2;
    grid-column-end: 4;
    width: 85%;
    font-size: 16px
}

.container .contenedor .refernce .ingredientes .pre-stars .steps .check-step span,
.container .contenedor .refernce .ingredientes .stars .steps .check-step span{
    color: #131111;
    font-weight: bold;
}

/* Intrucciones*/
.container .contenedor .refernce .instrucciones{
    display: grid;
}
.container .contenedor .refernce .instrucciones .icon-one .icon-number{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.container .contenedor .refernce .instrucciones .icon-one{
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-direction: row;
    grid-gap: 25px;
}
.container .contenedor .refernce .instrucciones .icon-one .text-help{
    grid-column-start: 2;
    grid-column-end: 3;
    width: 90%;
    font-size: 17px;
}

.container .contenedor .refernce .ingredientes,
.container .contenedor .refernce .instrucciones,
.container .pie-pagina{
    margin-top: 50px;
}

/* Asidebar*/
.container .contenedor .barra-lateral{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contenedor .barra-lateral .items{
    width: 80%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 3px #a0a0a0 ;
    padding: 15px;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
}

/* Yield barrra*/

.container .contenedor .barra-lateral .items .yields,
.container .contenedor .barra-lateral .items .timer{
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.container .contenedor .barra-lateral .items .yields .logo-yield,
.container .contenedor .barra-lateral .items .yields .title-yield,
.container .contenedor .barra-lateral .items .timer .logo-timer,
.container .contenedor .barra-lateral .items .timer .title-timer{
    margin-left: 20px;
}

.container .contenedor .barra-lateral .items .yields .title-yield h6,
.container .contenedor .barra-lateral .items .timer .title-timer h6{
    color: #707070;
    text-transform: uppercase;
    font-size: 10px;
}
.container .contenedor .barra-lateral .items .yields .text-yield{
    color: #e69c58;
    font-weight: 500;
    font-size: 15px;
}

/* Image */
.container .contenedor .barra-lateral .items .img-items{
    width: 30px;
}
.container .contenedor .barra-lateral .items .title-timer .text-timer{
    font-weight: bold;
    font-size: 15px;
}

/* Footer*/
.pie-pagina{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.pie-pagina > .redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.pie-pagina span{
    align-items: flex-end;
    font: 15px 'Monserrat', sans-serif;
}

/* Icon */
.pie-pagina > .redes > .list-redes a{
    text-decoration: none;
    color: #000000;
    justify-content: center;
}
.pie-pagina > .redes > .list-redes > a > .bi{
    margin: 10px 15px;
}

/*Resposive*/

@media screen and (max-width: 988px) {
    .container .cabezera{
        grid-column-start: 1 ;
        grid-column-end: 4 ;
    }
}

@media screen and (max-width: 895px){
    .container .contenedor .refernce{
        grid-template-columns: repeat(3, 1fr);
    }
    
    .container .contenedor .barra-lateral{
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .container .contenedor .barra-lateral .items{
        width: 100%;
        padding: 5px;
    }

    .container .contenedor .barra-lateral .items .timer{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .container .contenedor .barra-lateral .items .timers{
        display: inline-flex;
    }

    .container .contenedor .refernce .ingredientes,
    .container .contenedor .refernce .instrucciones{
        grid-column-end: 4;
    }
}

@media screen and (max-width: 775px){
    .container .cabezera{
        grid-template-columns: repeat(4,1fr);
    }

    .container .cabezera .title,
    .container .cabezera .subtitle{
        grid-column: 1/5;
    }
    .container .contenedor .barra-lateral .items{
        padding: 5px;
    }
    .container .contenedor .barra-lateral .items .yields .logo-yield, 
    .container .contenedor .barra-lateral .items .yields .title-yield, .container .contenedor .barra-lateral .items .timer .logo-timer, .container .contenedor .barra-lateral .items .timer .title-timer{
        margin-left: 15px;
    }
}

@media screen and (max-width: 580px){
    .container .contenedor .barra-lateral .items{
        padding: 0;
    }
    .container .contenedor .barra-lateral .items .img-items{
        width: 25px;
    }
    .container .contenedor .barra-lateral .items .yields .title-yield .text-yield, 
    .container .contenedor .barra-lateral .items .timer .title-timer .text-timer{
        font-size: 12px;
    }

    .container .contenedor .barra-lateral .items .yields, 
    .container .contenedor .barra-lateral .items .timer{
        padding: 5px;
    }

}

@media screen and (max-width: 490px){
    .container .cabezera .title {
        font-size: 32px;
    }
    
    .container .contenedor .barra-lateral .items .img-items{
        width: 20px;
    }
    .container .contenedor .barra-lateral .items .yields .title-yield .text-yield, 
    .container .contenedor .barra-lateral .items .timer .title-timer .text-timer{
        font-size: 10px;
    }
}

@media screen and (max-width: 420px){
    .container .contenedor .barra-lateral .items .img-items{
        width: 15px;
    }
    .container .contenedor .barra-lateral .items .yields .title-yield .text-yield, 
    .container .contenedor .barra-lateral .items .timer .title-timer .text-timer{
        font-size: 9px;
    }

    .container .cabezera .title {
        font-size: 28px;
    }
}